#about-presenter .presenter-image-wrapper {
  transform:rotate(4deg);
  -ms-transform:rotate(4deg); /* IE 9 */
  -webkit-transform:rotate(4deg); /* Safari and Chrome */
  background-image: url('photograph_outline.png');
  width: 502px;
  height: 364px;
  margin: 0 auto;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

#about-presenter img {
  border: none;
  height: 100%;
  width: 100%;
}

section.timeline img {
  border: none;
}

section.two-column .left,
section.two-column .right {
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.usage-metadata {
  margin-left: 38px !important;
  width: 100%;
  margin-top: -36px !important;
}

.usage-metadata img {
  width: 24%;
  float: left;
  border: none !important;
}
